<!DOCTYPE html>
<html>
    <head>Healthlog - title</head>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #0070bf;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111111;
        }
        </style>
        </head>
        <body>
        
        <h2>Healthlog - logo</h2>
        
        <ul>
          <li><a href="#About">Home</a></li>
          <li><a href="#Food">News</a></li>
          <li><a href="#Exercise">Contact</a></li>
          <li><a href="#Apps">About</a></li>
          <li><a href="#Community">About</a></li>
        </ul>
        
        </body>
</html>